<!-- Start Login Card -->
<main id="main">
  <div class="container-md">
    <div class="row">
      <div class="col-md-6">
        <div class="outfit">
          <div class="top">
            <img src="./outfit/shirt-outfit.png" alt="Shirt">
          </div>
          <div class="bottom">
            <img src="./outfit/pantalon2-outfit.png" alt="Pants">
          </div>
          <div class="shoes">
            <img src="./outfit/shoes2-outfit.png" alt="Shoes">
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="card border border-0 shadow p-4">
          <form>
            <div class="form-group">
              <label for="email">Enter E-mail :</label>
              <input type="email" name="email" id="email" class="form-control my-2">
            </div>
            <div class="form-group">
              <label for="password">Enter Password :</label>
              <input type="password" name="password" id="password" class="form-control my-2">
            </div>
            <div class="form-group">
              <button class="btn d-block mx-auto mt-2">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- End Login Card -->
