<!-- Start Register Card -->
<main id="main">
  <div class="container-md">
    <div class="row g-4">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="card border border-0 shadow p-4">
          <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
            <div class="row">
              <div class="col-md-6">
                <!-- First Name -->
                <div class="form-group">
                  <label for="fristName">Enter First Name :</label>
                  <input type="text" name="fristName" id="fristName" formControlName="fristName"
                    class="form-control my-2">
                </div>
              </div>
              <div class="col-md-6">
                <!-- Last Name -->
                <div class="form-group">
                  <label for="lastName">Enter Last Name :</label>
                  <input type="text" name="lastName" id="lastName" formControlName="lastName" class="form-control my-2">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!-- E-mail -->
                <div class="form-group">
                  <label for="email">Enter E-mail :</label>
                  <input type="email" name="email" id="email" formControlName="email" class="form-control my-2">
                </div>
              </div>
              <div class="col-md-6">
                <!-- Age -->
                <div class="form-group">
                  <label for="age">Enter Age:</label>
                  <input type="number" name="age" id="age" formControlName="age" class="form-control my-2">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!-- Password -->
                <div class="form-group">
                  <label for="password">Enter Password :</label>
                  <input type="password" name="password" id="password" formControlName="password"
                    class="form-control my-2">
                </div>
              </div>
              <div class="col-md-6">
                <!-- Password Confirmation -->
                <div class="form-group">
                  <label for="confirmPassword">Confirm Password:</label>
                  <input type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword"
                    class="form-control my-2">
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Gender -->
              <div class="form-group">
                <label for="gender">Select Gender :</label>
                <select name="gender" id="gender" formControlName="gender" class="form-control my-2">
                  <option [value]="false">Male</option>
                  <option [value]="true">Female</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <button class="btn d-block mx-auto mt-2">Register</button>
            </div>
          </form>
          <p class="text-center">I already have an account <a routerLink="/login">login</a></p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="outfit">
          <div class="top">
            <img src="./outfit/jacket-outfit.png" alt="Jacket">
          </div>
          <div class="bottom">
            <img src="./outfit/pantalon-outfit.png" alt="Pants">
          </div>
          <div class="shoes">
            <img src="./outfit/shoes-outfit.png" alt="Shoes">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- End Register Card -->