<!-- categories.component.html -->
<div class="d-flex justify-content-center align-items-center my-2">
  <div class="icon" (click)="setCategory('T-Shirts')">
    <img src="./img/cloth_2503376.png" alt="Cloth">
  </div>
  <div class="icon" (click)="setCategory('Boots')">
    <img src="./img/boots_18278287.png" alt="Boots">
  </div>
  <div class="icon" (click)="setCategory('Jeans')">
    <img src="./img/jeans_664466.png" alt="Jeans">
  </div>
  <div class="icon" (click)="setCategory('Accessories')">
    <img src="./img/purse_12585087.png" alt="Accessories">
  </div>
</div>
