<div class="nav">
  <button class="btn" (click)="logout()">Logout</button>
</div>
<!-- Start Home Page  -->
<div class="container-xxl home">
  <div class="container col-md-9 ">
    <h1 class="py-2">Hello <span style="color: var(--color-yellow);">{{ user.firstName }}</span> , Find Your
      Perfect Look
      .. </h1>
    <div class="card p-4">
      <button class="form-control" routerLink="/wardrobe">My Wardrobe <img src="./img/wardrobe.png" alt=""></button>
      <form>
        <div class="form-group mt-4">
          <select name="" id="" class="form-control">
            <option selected disabled hidden>Select Occasion</option>
            <option value="">Casual Outing</option>
            <option value="">Formal Occasion</option>
            <option value="">Business Meeting</option>
            <option value="">Date Night</option>
            <option value="">Wedding</option>
            <option value="">Workout</option>
            <option value="">Travel</option>
            <option value="">Festival</option>
            <option value="">Beach Day</option>
            <option value="">Winter Outdoor</option>
          </select>
        </div>
        <button class="btn  d-block mx-auto mt-2 rounded-4">Generate By AI</button>
      </form>
    </div>
  </div>
</div>
<!-- Start Home Page  -->
